<app-nav-bar></app-nav-bar>
<div class="index">
  <div class="transbox">
    <!-- Se team$ for true, então atribui esta expressão a team (variável local) -->
    <!-- team$ que é findTeams() na team.service -->

    <!-- Estou utilizando o Pipe async -->
    <div class="card" *ngIf="team$ | async as team; else loading">
      <!-- Por trás do *ngFor ele esta criando vários app-card -->
      <!-- Usando o @Input, conseguimos utilizar a propriedade team, que é Property Binding [team] -->
      <app-card [team]=n *ngFor="let n of team" class="cards"></app-card>
      <app-arrows></app-arrows>
    </div>
    <ng-template #loading>
      <app-spinner></app-spinner>
    </ng-template>
    </div>
</div>

<!-- Diretivas Estruturais (*ngIf e *ngFor) -->
