<!--<article>-->
<!--  <img src="https://logodetimes.com/times/internacional/logo-internacional-4096.png" alt="">-->
<!--  <div *ngIf="this.showName" class="text">-->
<!--    <button (click)="this.alternar()">Inter</button>-->
<!--  </div>-->
<!--</article>-->


<mat-card class="example-card">
  <a [routerLink]="['/team', team?.id]"> <img mat-card-image src="{{team?.icon}}" alt="Photo team"> </a>
  <mat-card-content class="title">
    <p>
      {{team?.name}}
    </p>
  </mat-card-content>
</mat-card>
