.example-card {
  background: transparent;
  //position: relative;
  max-width: 200px;
}

.title {
  font-family: -apple-system, serif;
  color: #d8c3c3;
  font-weight: 550;
  font-size: 25px;
  text-align: center;
}
