.nav-box {
  display: block; // block pra nav bar acupar toda tela, aí depois é so ajustar altura
  height: 40px;
  background-color: rgb(13, 9, 96);
  text-align: center;

  .search-box {
    width: 220px;
    position: absolute;
    top: 20px;
    //left: 600px;
    left: 1750px;
    transform: translate(-50%, -50%);
    height: 35px;
    border-radius: 40px;
    background-color: transparent;

    .search-txt {
      height: 35px;
      width: 0;
      border-radius: 50%;
      border: none;
      background-color: transparent;
      color: #fff;
      font-size: 14px;
      transition: 0.3s;
    }

      .search-btn {
        //color: #ffff; //estou utilizando a diretiva como exemplo pra add white
        float: right;
        width: 14px;
        bottom: 150px;
        height: 20px;
        background-color: transparent;
        margin-top: 10px;
        transition: 2s;
    }

  }

  .search-box:hover > .search-txt {
    width: 185px;
    padding: 0 4px 0 10px;
    background-color: #413c3c;
    border-radius: 30px;
    border-color: transparent;
    size: 5px;
  }

  //.search-btn:hover > .search-txt {
  //}


}

.nav-box:hover {
    box-shadow: 2px 2px 26px rgba(0,0,0,0.3);
    animation: animation 60s;
}

@keyframes animation {
  30% {
    opacity: 30;
  }
  4% {
    background-color: rgba(23, 23, 138, 0.84);
    opacity: 50;
  }
}
