<!--Tell the browser which HTML version of the page-->
<!DOCTYPE html>
<!--"lang" Indicates which language the page will be-->
<!--The <html> tag indicates the beginning and end of a page-->
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Initial Page</title>
  </head>
  <body>
    <article>
      <h1>TEAM'S WORLDWIDE</h1>
      <p>
        This is a link test: <a href="https://www.youtube.com/watch?v=E6CdIawPTh0&list=PLHz_AreHm4dkZ9-atkcmcBaMZdmLHft8n&index=12">Course Gustavo Guanabara</a>
      </p>
    </article>

  </body>
</html>
