<div class="index">
  <div class="transbox">
    <main class="grid">
      <article>
        <img src="https://logodetimes.com/times/internacional/logo-internacional-4096.png" alt="">
        <div class="text">
          <button>Inter</button>
        </div>
      </article>
      <article>
        <img src="https://logodetimes.com/times/gremio/logo-gremio-4096.png" alt="">
        <div class="text">
          <button>Grêmio</button>
        </div>
      </article>
      <article>
        <img src="https://logodetimes.com/times/atletico-mineiro/logo-atletico-mineiro-4096.png" alt="">
        <div class="text">
          <button>Atlético Mineiro</button>
        </div>
      </article>
      <div class="next">
        <p>
          >
        </p>
      </div>
    </main>
  </div>
</div>
