a:link{
  color: #5C3E90;
}

a:visited{
  color: #5C3E90;
}

a:hover {
  color: #9DD05B;
}

body {
  background: #ECECEC;
}

h1 {
  color: #000000;
  font: 1.500em "Arial Black", Arial, sans-serif;
  letter-spacing: .2em;
  padding-left: 40%;
}

p {
  font-size: 1.200em;
  padding-left: 38.2%;
}
